<div class="tweet-comment-group" id="tweet-comments">
    
      <ul>
        <% comments.each do |comment| %>
          <li class="comment-main">
            <%= link_to user_path(comment.user.id) do %>
              <%= comment.user.name %>
            <% end %>
            <%= comment.comment %>
          </li>
          <% if comment.user.id == current_user.id %>
            <li class="comment-delete-btn">
              <%# CSSで横並びにして表示させる%>
              <%= link_to "delete", "#" %>
            <li>
          <% end %>
        <% end %>
      </ul>
    
  </div>