document.getElementById('follow_form').innerHTML = '<%= j(render("users/unfollow")) %>'
document.getElementById('follower').innerHTML = '<h5 id="follower-pulldown">Follower<br> <%= @user.followers.count %></h5>'