<div class="main">
  <ul class="tweet-list">
    <% @tweets.each do |tweet| %>
      <li class="list" id="tweet_<%= tweet.id %>">
        <%= render 'tweet', tweet: tweet%>
      </li>
    <% end %>
  </ul>
</div>