<div class="tweet-show">

  <div class="tweet-show-content" id="tweet-like">
    <div class="tweet-show-main">
      <%= render 'tweet', tweet: @tweet%>
    </div>
  </div>

  <%= render 'shared/sidebar' %>
  
</div>