.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: chocolate;
}

.header-right-contents {
  display: flex;
  justify-content: space-around;
  width: 30% ;
  background-color: burlywood;
}

.current_user {
  padding: 0 10px;
  background-color: cadetblue; 
}

.sign_out_btn {
  padding: 0 10px ;
  background-color: cadetblue;
}

#main-title {
  /* display: none; */
}