<div class="footer">
  <div class="interested">
    <%= link_to interes_path do %>
      <%= image_tag 'unlike-star.png', width:'40', height:'40' %>
    <% end %>
  </div>

  <div class="mygears">
    <%= link_to gears_path do %>
      <%= image_tag 'bag.png', width:'40', height:'40' %>
    <% end %>
  </div>
</div>